[submodule "Replit/2022 SIP/Day-1-Starter-Code"]
	path = Replit/2022 SIP/Day-1-Starter-Code
	url = https://github.com/WolfieBabe/Day-1-Starter-Code
[submodule "Replit/2022 SIP/Mattie-S-Personality-Quiz"]
	path = Replit/2022 SIP/Mattie-S-Personality-Quiz
	url = https://github.com/WolfieBabe/Mattie-S-Personality-Quiz
[submodule "Replit/2022 SIP/Day-4-Starter-Code"]
	path = Replit/2022 SIP/Day-4-Starter-Code
	url = https://github.com/WolfieBabe/Day-4-Starter-Code
[submodule "Replit/2022 SIP/Activist-Toolkit-Protect-Trans-Rights"]
	path = Replit/2022 SIP/Activist-Toolkit-Protect-Trans-Rights
	url = https://github.com/WolfieBabe/Activist-Toolkit-Protect-Trans-Rights
[submodule "Replit/2023 SIP/Interactive-Avatar-Starter-Code-Mattie"]
	path = Replit/2023 SIP/Interactive-Avatar-Starter-Code-Mattie
	url = https://github.com/WolfieBabe/Interactive-Avatar-Starter-Code-Mattie
[submodule "Replit/2023 SIP/Welcome-to-p5JS-Starter-Code-Mattie-S"]
	path = Replit/2023 SIP/Welcome-to-p5JS-Starter-Code-Mattie-S
	url = https://github.com/WolfieBabe/Welcome-to-p5JS-Starter-Code-Mattie-S
[submodule "Replit/2023 SIP/Part-2-Mini-Challenge"]
	path = Replit/2023 SIP/Part-2-Mini-Challenge
	url = https://github.com/WolfieBabe/Part-2-Mini-Challenge
[submodule "Replit/2023 SIP/Part-2-Challenge-Mattie"]
	path = Replit/2023 SIP/Part-2-Challenge-Mattie
	url = https://github.com/WolfieBabe/Part-2-Challenge-Mattie
[submodule "Replit/2023 SIP/Collection-Style-Game-Mattie-S"]
	path = Replit/2023 SIP/Collection-Style-Game-Mattie-S
	url = https://github.com/WolfieBabe/Collection-Style-Game-Mattie-S
[submodule "Replit/2023 SIP/Dont-Be-A-Square-Game-Debug"]
	path = Replit/2023 SIP/Dont-Be-A-Square-Game-Debug
	url = https://github.com/WolfieBabe/Dont-Be-A-Square-Game-Debug
[submodule "Replit/2023 SIP/Maze-Game-Starter-Code"]
	path = Replit/2023 SIP/Maze-Game-Starter-Code
	url = https://github.com/WolfieBabe/Maze-Game-Starter-Code
[submodule "Replit/2023 SIP/Pong-Game-Starter-Code"]
	path = Replit/2023 SIP/Pong-Game-Starter-Code
	url = https://github.com/WolfieBabe/Pong-Game-Starter-Code
[submodule "Replit/2023 SIP/Game-Jam-Mattie-S"]
	path = Replit/2023 SIP/Game-Jam-Mattie-S
	url = https://github.com/WolfieBabe/Game-Jam-Mattie-S
[submodule "Replit/2023 SPP/Talking-Data-Comparing-Favorites-Sample-Project"]
	path = Replit/2023 SPP/Talking-Data-Comparing-Favorites-Sample-Project
	url = https://github.com/WolfieBabe/Talking-Data-Comparing-Favorites-Sample-Project
[submodule "Replit/2023 SPP/Empowering-Data-Project-2-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Project-2-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Project-2-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Project-4-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Project-4-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Project-4-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Part-5-Step-1-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Part-5-Step-1-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Part-5-Step-1-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Part-5-Step-3-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Part-5-Step-3-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Part-5-Step-3-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Part-5-Step-4-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Part-5-Step-4-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Part-5-Step-4-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Part-6-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Part-6-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Part-6-Mattie-S
[submodule "Replit/2022 SIP/Empowering-Data-Mattie-S"]
	path = Replit/2022 SIP/Empowering-Data-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Mattie-S
[submodule "Replit/2023 SPP/Empowering-Data-Mattie-S"]
	path = Replit/2023 SPP/Empowering-Data-Mattie-S
	url = https://github.com/WolfieBabe/Empowering-Data-Mattie-S
