[submodule "Replit/2022 SIP/Day-1-Starter-Code"]
	path = Replit/2022 SIP/Day-1-Starter-Code
	url = https://github.com/WolfieBabe/Day-1-Starter-Code
[submodule "Replit/2022 SIP/Mattie-S-Personality-Quiz"]
	path = Replit/2022 SIP/Mattie-S-Personality-Quiz
	url = https://github.com/WolfieBabe/Mattie-S-Personality-Quiz
[submodule "Replit/2022 SIP/Day-4-Starter-Code"]
	path = Replit/2022 SIP/Day-4-Starter-Code
	url = https://github.com/WolfieBabe/Day-4-Starter-Code
[submodule "Replit/2022 SIP/Activist-Toolkit-Protect-Trans-Rights"]
	path = Replit/2022 SIP/Activist-Toolkit-Protect-Trans-Rights
	url = https://github.com/WolfieBabe/Activist-Toolkit-Protect-Trans-Rights
