title {
  text-align: center;
}

#top {
  background-color: #ebdbff;
  text-align: center;
  
}
header {
  color: #127336;
  background-color: #c9bcda;
  font-size: 4vw;
  text-align: center;
  position: relative;
  left: 1.5vw
}
#top ul {
  color: #127336;
  background-color: #ebdbff;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.4vw;
}
#top li {
  color: #127336;
  display: inline;
  padding: .5em;
  font-size: 2em;
}

#main {
  text-align:center;
  align-content: center;
}

.centeredHeader {
  text-align: center;
}

h1 {
  color: #127336;
}

#orbitals {
  resize: .8em;
  margin: 1em;
  text-align: center;
}

/* images/iframe */
img {
  text-align: center; 
  
}
.port {
  width: 50%;
  height: auto;
}
#FL_1 {
  border: 20px white solid;
  width: 100vw;
  height: 100vh;
}
/* nav bar*/

body {
 background-color: #c9bcda;
}

ul #top {
  color: #127336;
  background-color: #c9bcda;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.4vw;
  position: relative;
  right: 1.5vw;
}
li #top {
  color: #127336;
  display: inline;
  padding: .5em;
  font-size: 2.5em;
}

/*Social Media*/

#socialMediaText {
  font-size: 3vw;
}

.fa-fw {
  padding-left: 1vw;
  padding-right: 1vw;
}

/*Table of Contents*/

#tableOfContents ul {
  background-color: #c9bcda;
  list-style-type: none;
  font-size: 2vw;
}

#tableOfContents li {
  color: #127336;
  font-size: 2vw;
  padding: .5em;
}

#tableOfContents a {
  text-decoration: none;
  color: #127336;
}